src/.DS_Store
.DS_Store
src/raw_data/training/annotation
src/raw_data/training/audio
src/raw_data/training/transcription
src/raw_data/training/video
src/raw_data/validation/annotation
src/raw_data/validation/audio
src/raw_data/validation/transcription
src/raw_data/validation/video
src/transcript/artifacts/checkpoints
src/transcript/artifacts/features
src/transcript/artifacts/predictions
src/transcript/tests/__pycache__
src/transcript/__pycache__
src/raw_data/transcript/srt
src/speech/__pycache__
src/speech/artifacts/checkpoints
src/speech/artifacts/features
src/speech/artifacts/predictions
src/speech/tests/__pycache__
src/landmarks/artifacts/landmarks/train
src/landmarks/artifacts/shape_predictor
